.artists {
    background-color: #161616;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-family: 'Permanent Marker', cursive;
    color: #F0B90B;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 1rem;
}

.artist-name {
    font-family: 'Permanent Marker', cursive;
    color: #d2a200;
    
}

.artist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #8D6B00;
}